<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <nav>
            Best Books!
        </nav>
        <div  id='mainheaderdiv'>
            <div id=homeNav>
                <a href="/">Home</a>
                <a href="new"> Search Book </a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <img src= "<%= bookid.image_url %> " alt="">
        <h1> <%=  bookid.title %></h1>
        <h2><%=  bookid.author %> </h2>
        <p>  <%=  bookid.description%> </p>
        <p><%=bookid.isbn%></p>
        <p><%=bookid.bookshelf%></p>
         </section>
      
    </main>
</body>
</html>