<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header>
        <nav>
            Best Books!
        </nav>
        <div  id='mainheaderdiv'>
        <div id=homeNav>
            <a href="/">Home</a>
            <a href="new"> Search Book </a>
        </div>
       </div>
    </header>
    <main>
      
        <h2 id='booksNum'> You Have <%= books.length%> Books in your Collection</h2>
        
            <%books.forEach(element=>{ %>
                <section>
            <img src= "<%= element.image_url %> "alt="">
            <h1> <%= element.title %></h1>
            <h2><%= element.isbn %> </h2>
            <h2><%= element.author %> </h2>
            <form action="/book/<%=element.id%>" method= 'GET'>
            <button> View Details </button>
            </form>
        </section>
       <% }) %>
        
    </main>
</body>
</html>