<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header>
        <nav>
            Best Books!
        </nav>
        <div  id='mainheaderdiv'>
            Search Results
            <div id=homeNav>
                <a href="/">Home</a>
                <a href="new"> Search Book </a>
            </div>
        </div>
    </header>
    <main>
       
        <% bookinstance.forEach(element=>{%>
        <section>
            <img src= "<%= element.image_url %> " alt="">
            <h1> <%= element.title %></h1>
            <h2><%= element.author %> </h2>
            <p>  <%= element.description%> </p>
            <form action="/book" method='POST'>
                <input type="hidden" name=title value= '<%=element.title%>'>
                <input type="hidden" name=author value= '<%=element.author%>'>
                <input type="hidden" name=description value= '<%=element.description%>'>
                <input type="hidden" name=isbn value= '<%=element.isbn%>'>
                <input type="hidden" name=image_url  value= '<%=element.image_url %>'>
                <input type="hidden" name=bookshelf value= '<%=element.bookshelf%>'>
                <button> Select Book </button>
            </form>
        </section>
        <% }) %>
      
    </main>
</body>
</html>